// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/




body {
  font-family: arial, verdana, helvetica;
//  background-image: image-url('bg.gif');
//  background-position: 50% 50%;
  background-repeat: repeat-y;
//  background-color: #21813F;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
body, html, .container, .main-row {
  height: 100%;
  padding: 0;
  margin: 0;
}
$blue:   #2F78BD;
$red:    #A21D21;
$green:	 #21813F;
$yellow: #EDE210;

.bg-color {
  height: 100%;
  min-width: 5px;
//  max-width: 500px;
}
#bg-color-left {
  @extend .bg-color;
  background-color: $blue;
//  height: 100%;
}
#bg-color-right {
  @extend .bg-color;
  background-color: $green;
//  height: 100%;
}

.item-column{
  width: 320px
}

.item-name {
  padding-top: 10px;
  font-weight: bold;
  font-size: 12pt;
}
.item-description {
  font-style: italic;
  font-size: 9pt;
}

.btn{
  border: 0px;
  vertical-align:middle;
  padding: 20px;
  background-color: #ababab;
  text-align:center;
  font-weight: bold;
  font-size: 10.5pt;
  border-radius: 5px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-primary {
  color: #111;
}

.button-contact-pc {
  margin-left: 10px;
}

.container {
  width: 100%;
}

#header, #footer {
//  width: 100%;
}
#header {
  background-color: #A21D21;
}
.footer-row, .home-row {
  text-align:center;
  padding-top: 20px;
}
.links {
  font-size: 8pt;
  font-family: verdana, arial, helvetica;
  text-align:center;
  a {
    color: $red;
    &:visited {
      color: $red;
    }
    &:hover {
      color: $red;
    }
  }
}
.page-name {
  border-radius: 5px;
//  margin-left: 180px;
//  margin-right: 5px;
  padding: 10px;
  background-color: #CCCCCC;
}

.home-row {
  padding-top: 20px;
  .left, .right {
    width: 215px;
//    min-width: 200px;
//    max-width: 220px;
  }
  .center {
    width: 315px;
    text-align: center;
  }
  .right {
    text-align: right;
  }
  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

label {
  vertical-align: top;
}

// ok what about these mixins
//.wrapper {
//  .make-row();
//}
//.content-main {
//  .make-lg-column(8);
//}
//.content-secondary {
//  .make-lg-column(3);
//  .make-lg-column-offset(1);
//}


.header-img-container {
  background-color: $red;
  max-width: 100%;
  height: auto;
}
//
//.header-img-lg img {
//  max-width: 660px;
//  min-width: 320px;
////  background: transparent url('/assets/outsideup.gif') no-repeat scroll center center;
////  background-size: contain;
//}

.space {
  min-height: 1px;
  width: 1px;
}

.contact-input {
  float: right;
  width: 150px;
}

.contact-wrapper {
  width: 220px;
  margin-bottom: 15px;
}
