<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8" >
  <meta name="DESCRIPTION" content="Indoor and outdoor furniture, planters, decks, platforms and structures">
  <meta name="KEYWORDS" content="furniture, planters, decks, platforms, structures, recovered materials, recycled">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="Shortcut Icon" href="./favicon.ico">
  <%
#  <title>Outside Up - < %= params['pcatname'].empty? ? "Fresh Interactive Design" : params['pcatname'] % ></title>
  %>
  <title>Outside Up - Fresh Interactive Design</title>
</head>

<body>
<% unless params['hide-bg-color'] %>
    <div id="bg-color-left"></div>
    <div id="bg-color-right"></div>
<% end %>
        <div class="red header-img-container">
            <% if page=='home' || page=='contact' %>
                <%= page=='contact' ? link_to( image_tag( "outsideup.gif", alt: "OutsideUp - Fresh Interactive Design", class: "header-img-lg img-responsive" ), root_path ) :  image_tag( "outsideup.gif", alt: "OutsideUp - Fresh Interactive Design", class: "header-img-lg img-responsive") %>
            <% else %>
                <%= link_to( image_tag( "outsideup_sm.png", alt: "OutsideUp - Fresh Interactive Design" ), root_path ) %>
                <%= link_to( "Contact/Order", new_contact_path, {class: 'btn btn-primary button-contact-pc'}) %>
            <% end %>
        </div>
        <div class="container">
